/* UserAccount styles */

.UserAccount {
	composes: hoverOpacity from '../../styles/states.css';
	display: inline-block;
	height: 52px;
	width: 52px;
	transform: translateY(20px);
	transition: all 0.25s;
}

.UserAccount img {
	width: 100%;
	border-radius: 50%;
	border: 1px solid #fff;
}
