/* colors */

.redish {
	color: #ee2d1c;
}

.redish-bg {
	background: #ee2d1c;
}

.blackish {
	color: #4c4c51;
}

.blackish-bg {
	background: #4c4c51;
}

.blueish {
	color: #88939e;
}

.blueish-bg {
	background: #88939e;
}