/* global element styles */

.global {
	composes: sourcePro from './typography.css';
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-collapse: collapse;
}

html, body {
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	color: #4c4c51;
}

h1 {
	font-size: 48px;
	line-height: 48px;
}

h2 {
	font-size: 36px;
	line-height: 36px;
}

p {
	font-size: 22px;
	line-height: 28px;
}

a {
	color: #88939e;
	text-decoration: none;
}

section, footer {
	padding: 40px 48px;
}

@media all and (max-width: 560px) {
	
	h1 {
		font-size: 32px;
		line-height: 32px;
	}

	h2 {
		font-size: 24px;
		line-height: 24px;
	}

	p {
		font-size: 15px;
		line-height: 18px;
	}
}
