/* Footer styles */

.footerNav {
	padding: 60px 0 40px 0;
}

.row {
	composes: row alignMiddle fullHeight from '../../styles/layout.css';
	height: 80px;
}

.link {
	composes: linkHover from '../../styles/states.css';
	line-height: 80px;
	padding-right: 15px;
}

.columnLogo {
	composes: column from '../../styles/layout.css';
}

.columnContent {
	composes: column from '../../styles/layout.css';
}

@media all and (min-width: 561px) {

	.columnLogo a {
		display: block;
		line-height: 100px;
	}
	
	.columnLogo {
		-ms-flex-preferred-size: 175px;
		flex-basis: 175px;
		max-width: 175px;
	}

	.columnContent {
		-ms-flex-preferred-size: calc(100% - 175px);
		flex-basis: calc(100% - 175px);
		max-width: calc(100% - 175px);
		text-align: right;
	}
}

@media all and (max-width: 560px) {

	.footerNav {
		padding: 20px 0;
	}

	.columnLogo, .columnContent {
		text-align: center;
		padding-top: 15px;
	}
}
